body{
    font-family: 'Indie Flower', cursive;
    font-family: 'Lobster', cursive;
}

.header_div{
    background-color:white;
    color:darkblue;
}

.header_div p{
    font-size: 17px;
    letter-spacing: 3px;
    font-weight:bold;
}


.main_div button{
    background-color:darkblue;
    font-weight:bold;
    letter-spacing: 2px;
    margin-top: 20px;
}

#footer{
font-weight: bold;
background-color:darkblue;
color:white;
text-align: center;
margin-top:25px
}
